body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(167, 246, 220);
}

a{
    color:white;
    text-decoration: none;
}

header{
    display: flex;
    background-color: #14161A;
    min-height: 85px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    height: 70px;
    margin-right: 17px;
}
nav a{
    font-weight: 600px;
    padding-right: 12px;
}

nav a:hover{
    color:#F0DB4F;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
    .imagenes-container{
        margin: 100px auto;
        width: 500px;
        display: flex;

    }

    .imagenes-container .imagen{
        position: relative;
        margin-right: -20px;
        display: inline-flex;
        flex-direction: column;
    }

    .imagenes-container .imagen img{
        width: 50px;
        height: 50px;
    }
    .imagenes-container .imagen .nombre{
        position: absolute;
        background-color: black;
        border-radius: 5px;
        color: white;
        display: none;
        min-width: 100px;
        width: 150px;
        top: -55px;
        
    }
    .imagenes-container .imagen:hover .nombre{
        display: inline-block;
    }